{% extends 'ahome.html' %}
{% load static %}
{% block title %}
Galler List
{% endblock title %}

{% block content %}
<h1>Manage Gallery Collections</h1>
<!-----------------------Drop Down list  Section ----------------------------------->
<div class="container">
    <div class="row">
        <form id="post-form" method="POST" action="{% url 'manage-Gallery' %}">
            {% csrf_token %}
            <div style="display:flex; justify-content:center;align-items: center;flex-direction: row;">
                <select id="selevent" name="selevent" class="form-select" aria-label="Default select example">
                    <option selected disabled value="0">Please select an event</option>
                    {% for img in evn_list %}
                    <option value="{{ img.name }}">{{img.name}}</option>
                    {% endfor %}
                </select>
               <!--<button type="submit" id="submit-all" class="btn btn-outline-secondary btn-lg"
                    style="width:10rem;font-size:1rem;">
                    Show Images </button>--> 
            </div>


        </form>
    </div>
</div>
<!-----------------------Gallery Info Section ----------------------------------->
<br />
<div class="container">
    <div class="row">
        <div id="envinfo" class="alert alert-light" role="alert">{{collname}}</div>
    </div>
<!-----------------------Gallery All Images ----------------------------------->
    <div id="allimg" class="row">
    <div class="row">
        <div style="display:flex; justify-content:first;align-items: center;flex-direction: row;">
            
            
               <!-- <a type="button" id="deleteselected"><i class="fa-solid fa-rectangle-xmark"></i></a>
            <button type="button" id="deleteselected" class="btn btn-outline-secondary btn-lg" style="width:12rem;margin-left:1rem;">
               Delete Selected </button>-->
        </div>

    </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"><input type="checkbox" id="select_all" class="form-check-input" style="margin-right:1rem;" /></th>
                    <th scope="col"><a href="#" type="button" id="deleteall" style="color:red; margin-left:1rem;"><i class="fa-solid fa-rectangle-xmark"></i></a></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for img in img_list %}
                {% if img.event_image %}

                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>
                            <input id="select_all" type="checkbox" name="d_name" class="form-check-input checkbox" value="{{img.id}}" />
                    </td>
                    <td>
                        <img src="{{ img.event_image.url }}" class="card-img-top" alt="{{ img.name }}"
                            style="width:120px;">
                    </td>
                    <td>
                        <div style="display:flex; justify-content:last;align-items: center;flex-direction: row;">
                            <p style="font-size:1rem;color:#3b3b3b; width:80%;padding-right:1rem;text-align: justify;">{{img.comment}}</p>
                            <a href="#" id="deleteall" class="btn btn-secondary btn-lg" style="width:20%;margin-right:20px;">Edit Image</a>
                    </td>
                </tr>

        {% endif %}
        {% endfor %}

            </tbody>
        </table>


    </div>

</div>
</div>
<!-----------------------Comfirm deletion Section ----------------------------------->
<div id="delmsg_wrapper" style="display:none;">
    <div id="delmsg_content">
        <h2 style="font-size:1rem;">Are You Sure You Want To Delete all images in <span id="getselcol"
                style="color:red;font-weight:bold;font-size:1rem;"></span></h2>
        <div>
           <!--  <a href="{% url 'delete-all' getname %}" id="delallsections" class="btn btn-danger btn-lg"
                style="width:10rem;margin-right:20px;">Delete all</a>-->
                <a href="#" id="delallsections" 
                class="btn btn-danger btn-lg" 
                style="width:10rem;margin-right:20px;">Delete all</a>
            <input type="button" value="Cancel" id="canceldel" class="btn btn-secondary btn-lg"
                style="width:10rem;margin-right:20px;">
        </div>
    </div>
</div>

<script type="text/javascript">
    //change the value of the dropdown options, because the delete will not work if the selected value is the first one
    //by default the getname="nogallery", if there is no selection when the page is refereshed.
    //this is important because we will get an error if getname is empty.
    $(document).ready(function () {
        $('#selevent option[value="{{getname}}"]').attr('selected', 'selected');
        //$("#delmsg_wrapper").css("display", "none"); // remove the delmsg_wrapper, when first page is loaded.
    });
</script>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- LightBox css -->
<link rel="stylesheet" type="text/css" href="{% static 'lightbox2-2.11.3/dist/css/lightbox.min.css' %}" />
<!-- LightBox Js -->
<script type="text/javascript" src="{% static 'lightbox2-2.11.3/dist/js/lightbox.min.js' %}"></script>
<!-- Customize Javascript -->
<script type="text/javascript" src="{% static 'managegallery.js' %}"></script>

{% endblock content %}