{% include 'includes/header.html' %}
 <div class="main-content">
     <div class="container">
         {% block content %}
         <div class="card">
          <div class="card-header">
            {% if searched %}
                You Searched for {{ searched }}
            {% else %}
                Search Events ...
            {% endif %}
          </div>
          <div class="card-body">
            <form class="d-flex" method="POST", action="{% url 'search-events' %}">
                {% csrf_token %}
                <input class="form-control me-2"
                type="search"
                placeholder="Search Events"
                aria-label="Search" name="searched">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
          </div>
        </div>



<br/>
<br/>
             {% if searched %}
                {% if thereResults %}
                    {% for event in events %}
                       <div class="card">
                          <div class="card-header">
                           <h3>{{ event }}</h1>
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">Venue: {{event.venue}}</h5>
                            <p class="card-text">
                                <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Date:</strong> {{event.event_date}}</li>
                                <li class="list-group-item"><strong>Venue Website:</strong> {{event.venue.web}}</li>
                                <li class="list-group-item"><strong>Manager: </strong>{{event.manager}}</li>
                                <li class="list-group-item"><strong>Description:</strong> {{event.description}}</li>
                                <li class="list-group-item"><strong>Confirmed attendees:</strong><br/>
                                {% for user in event.attendees.all %}
                                {{ user }} <br/>
                                {% endfor %}
                                <br/>
                                </li>
                            </ul>

                            </p>

  </div>
  {% if user.is_authenticated %}
  {% if user == event.manager %}
      <div class="card-footer text-muted">
        <a href="{% url 'update-event' event.id %}" class="btn btn-outline-secondary btn-sm">Update Event</a>
         <a href="{% url 'delete-event' event.id %}" class="btn btn-outline-danger btn-sm">Delete Event</a>
    </div>
            {% endif%}
    {% endif %}
</div>
<br/><br/>
                    {% endfor %}
                {% else %}
                    {{ msg }}
                {% endif %}
             {% else %}
                <h1>No Result Found</h1>
             {% endif %}
         {% endblock content %}
     </div>
 </div>
{% include 'includes/footer.html' %}