{% include 'includes/header.html' %}
     <div class="container">
         {% block content %}
         {% if user.is_authenticated %}
            {% if user == event.manager %}
             <form action="" method=POST>
                {% csrf_token %}
                {{ form.as_p }}
                <br/>
                <input type="submit" value="Update"class="btn btn-secondary">
                </form>
            {% else %}
                <h1>Access Denied</h1>
                <p>Only the event's Manager can update</p>
                Current User is: {{ user }}
                <br/>
                Event Manger: {{ event.manager }}
            {% endif%}
        {% endif %}
        {% endblock content %}
  </div>
{% include 'includes/footer.html' %}